version: 2.1
jobs:
  deploy:
    docker:
      - image: circleci/node:10.16.0
    steps:
      - add_ssh_keys:
            fingerprints:
              - "4e:ed:9a:13:49:63:80:6d:50:79:d3:cf:85:e3:b2:0d"
      - run:
          name: Deploy Over SSH
          command: |
            ssh -o StrictHostKeyChecking=no $SSH_USER@$SSH_HOST "cd '$WEB_ROOT_DEV' && git stash && git pull origin master && npm install"
workflows:
  version: 2.1
  build-and-deploy:
    jobs:
      - deploy:
          filters:
            branches:
              only: master
