.navbar {
    background: #F0FFFF;
}

.navbar .container span {
    margin-left: 10%;
    font-size: 21px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 

.navbar .container span:hover {
    /* background: seashell; */
    color: rgba(0,0,255,0.3);
    cursor: pointer;
}


.home-nav button {
    width: 50px;
    height: 38px;
    font-size: 15px;
    background: #F0FFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.home-nav button:hover {
    background:  rgba(0,0,255,0.3);
}

.image-wrapper img {
    width: 38px;
    height: 38px;
}



