.navbar {
    background: #F0FFFF;
    min-height: 30px;
}

.navbar .container span {
    margin-left: 10%;
    font-size: 21px;
    font-family: Arial, sans-serif;
} 

.navbar .container span:hover {
    /* background: seashell; */
    color: rgba(0,0,255,0.3);
    cursor: pointer;
}


.home-nav button {
    padding: 2px 4px;
    font-size: 15px;
    background: #F0FFFF;
    font-family: Arial, sans-serif;
}

.home-nav button:hover {
    background:  rgba(0,0,255,0.3);
}

.image-wrapper img {
    width: 38px;
    height: 38px;
}



