.wrapper {
  padding-top: 70px;
}

.card-container {
  margin-top: 18px;
}

.card {
  cursor: pointer;
  border-radius: 5px;
}

.card.card-light:hover {
  -webkit-filter: brightness(120%); /* Safari 6.0 - 9.0 */
  filter: brightness(120%);
}

.headline {
  display: inline-block;
  padding-top: 20px;
}

.ant-card-meta-title {
  color: white;
}

.ant-card-meta-description {
  color: #e6d8d8;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.horizontal-center {
  display: flex;
  justify-content: center;
}

.main-background {
  height: 100%;
  background-image: url("../../Images/background.jpg");
}

.title-input {
  width: 100%;
  padding: 4px 8px;
  font-size: 20px;
  border-radius: 4px;
  border: 1px solid #E2DFDE;
}

.title-modal {
  font-size: 16px;
  font-weight: 500;
}

.column-container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.add-column-wrapper {
  width: 250px;
  height: 40px;
  text-align: left;
  padding: 10px;
  background-color: #ebecf0;
  border-radius: 3px;
  margin: 0px 15px;
}

.add-column-wrapper:hover {
  opacity: 0.8;
  color: #172b4d;
  cursor: pointer;
}

.add-column-label {
  color: #888;
  padding: 10px;
}
