* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

input {
    width: 100%;
    height: 50px;
    border: 1px solid #e9e9e9;
    border-radius: 30px;
    padding: 8px 5px 8px 25px;
}

.input-header {
    padding: 10px;
}

.header-text {
    font-size: 13px;
    display: flex;
    justify-content: flex-start;
}

.register-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    background: url(../../Images/login.png) no-repeat center center;
    background-size: cover;
}

.login-image-container {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.login-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.form-container {
    width: 50%;
    height: 100%;
    background: #ffffff;
}

.logo {
    margin-top: 15%;
    margin-bottom: 10% ;
}

.logo span {
    font-size: 32px;
    color: #000;
    font-family: serif;
}

.input-wrapper {
    margin-bottom: 5%;
}

.form-wrapper {
    margin-right: 10%;
}

.form-footer {
    display: flex;
    justify-content: flex-start;
}

.form-footer button {
    margin-left: 12%;
    height: 30px;
    padding: 1% 20px 7% 20px;
    font-size: 15px;
    border: 2px solid #4482ff;
    color: #4482ff;
    border-radius: 30px;
    background: #ffffff ;
}

.form-footer button:hover {
    background: #c4c4c4;
}
