* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
.home-header {
    background-image: url("../../Images/homePage.jpg");
    height: 700px;
}

.welcome {
  font-size: 50px;
}

.slogan {
  font-size: 30px;
}

.get-started {
  font-size: 25px;
}


