*:focus {
    outline: 0;
    box-shadow: 0 0 0 1px rgba(0, 123, 255, .5);
}

.login-input {
    padding: 10px 10px;
    font-size: 16px;
    border: 1px solid #e9e9e9;
    border-radius: 10px;
}

.input-header {
    padding: 10px;
}

.header-text {
    font-size: 15px;
}

.header-main-text {
    font-size: 32px;
}

.login-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.footer-btn {
    border-radius: 20px;
}
